@font-face {
  font-family: signifer;
  src: url(test-signifier-light.woff2);
}

body {
  margin: 0;
  padding: 12px;
  height: calc(100vh - 24px);
  /* font-family: signifer; */
  font-family: sans-serif;
  /* color: #090ffb; */
  color: black;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 32px;
  line-height: 1;
  margin: 0;
  text-align: left;
}

h2 {
  font-size: 18px;
  line-height: 1;
  margin: 0;
  text-align: center;
  border: 1.5px solid;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline;
  padding: 3px 6px 2px 6px;
  margin: 0 6px;
}


#menu {
    height: inherit;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.tags {
  color: red;
    height: inherit;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}

#detail {
    height: inherit;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
}

.rowElement {
  height: max-content;
  justify-content: space-between;
  display: flex;
  justify-content: space-between;
}

#detail p {
  font-size: 18px;
}

a {
  color: black;
}

a:hover {
  color: red;
}

#sketch-holder {
  position: absolute;
  transform: translate(-12px, calc(-100% + 12px));
  z-index: -1;
  /* transform: translateX(20vw); */
}

.slider {
  height: inherit;
  padding: 12px 0;
}

.slider img {
  display: flex;
  max-height: calc(100vh - 64px - 24px - 24px);
  max-width: 100%;
}

.hide {
  display: none !important;
}

button {
  font-size: 24px;
  border: 1;
  background-color: inherit;
}

button:hover {
  font-size: 24px;
  border: 1;
  background-color: lightgray;
}
