@font-face {
  font-family: Helveticanow;
  src: url(HelveticaNowDisplay-Bold.otf) format("opentype");
}

body {
  margin: 0;
  font-family: Helveticanow;
  overflow: auto;
  background-color: #A48BD0;
}

.navbar {
  background-color: #1A1A1A;
  height: 2.604vw;
  padding-left: 3.125vw;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 3.125vw;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav-link {
  color: white;
  font-size: 1.041vw;
}

.nav-link:hover {
  color: #A48BD0;
}

#containerVideo {
  /* overflow: hidden; */
  margin: 0;
  border: 0;
  padding: 0;
}

#frameVideo {
  margin: 0;
  padding: 0;
  height: 84vh;
  width: 100%;
}

#bigtitle {
  margin: 0;
  padding: 0;
  /* height: 50vh; */
  /* text-align: center; */
}

.container-fluid {
  margin: 0;
}

#realcontainer {
  transform: translateY(2.604vw);
}

.bg-red {
  background-color: #FF401A;
  color: white;
}

.bg-yellow {
  background-color: #FDCF30;
  color: black;
}

.bg-purple {
  background-color: #A48BD0;
  color: white;
}

.bg-black {
  background-color: black;
  color: #FF401A;
}

.m-text {
  padding: 1.041vw;
}

.height-1 {
  height: 25vw;
}

.height-2 {
  height: 50vw;
}

.footer {
  height: 10vw;
}

.downloadimage {
  height: 1.875vw;
  margin-right: 1.041vw;
}

.divimage {
  overflow: hidden;
}

h1 {
  font-size: 3.125vw;
  line-height: normal;
  margin: 0;
}

p {
  font-size: 1.875vw;
  line-height: normal;
  margin: 0;
}

h2 {
  font-size: 1.041vw;
  line-height: normal;
  margin: 0;
  margin-top: 1.041vw;
}

button {
  background: none;
  border: none;
  font-size: 1.041vw;
  line-height: normal;
  margin: 0;
  margin-top: 3.125vw;
}

h3 {
    font-size: 1.041vw;
    line-height: 1.5;
    margin: 0;
}

span {
  background-color: white;
  color: #FF401A;
}

.badge {
  font-size: 1.302vw;
  color: #FF401A;
  margin-bottom: 1.041vw;
}

#contattaButton {
  background-color: #A48BD0;
  color: white;
}

#bigtext {
  font-size: 6.5vw;
  line-height: 6.5vw;
}
